# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/

# VS Code
.vscode/

# Database
database/*.db
database/*.db-*
*.sqlite
*.sqlite3

# Live TV
livebuffer/*
!livebuffer/.gitkeep

# Recordings
recordings/*
!recordings/.gitkeep

# Thumbnails
thumbnails/*
!thumbnails/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Guide data
guide/*
!guide/.gitkeep

# Linux
*.pid
*.log
*.tmp
.DS_Store
